{% load template %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-Hans">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>控制台</title>
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/python.png" type="image/vnd.microsoft.icon">
    <link rel="icon" href="https://img.icons8.com/color/48/000000/python.png" type="image/vnd.microsoft.icon">
  <!-- Custom fonts for this template-->
  <link href="https://cdn.bootcss.com/font-awesome/5.10.0-12/css/all.min.css" rel="stylesheet">
  {#  <link href="{% static 'rapid/js/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">#}
  <!-- Page level plugin CSS-->
  <link href="https://cdn.bootcss.com/datatables/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'civil/css/sb-admin.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="\">PyCSE</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <!-- Navbar Search End-->

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <span class="badge badge-danger">9+</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-envelope fa-fw"></i>
              <span class="badge badge-danger">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <!--用户头像按钮 侧边栏-->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i>
                        {{user.username}}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'users:edit_user' user.username  %}"><i class="fa fa-cog" aria-hidden="true"></i> 设置</a>
                    <a class="dropdown-item" href="admin"><i class="fa fa-list-ul" aria-hidden="true"></i> 管理后台</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fa fa-sign-out-alt" ></i> 退出</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'users:register' %}">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> 注册
                    </a>
                    <a class="dropdown-item" href="{% url 'login' %}">
                        <i class="fa fa-sign-in-alt" ></i> 登录
                    </a>
                {% endif %}
            </div>
            <!--用户头像按钮 侧边栏 END-->
          </li>
        </ul>

    </nav>

    <!-- wrapper -->
    <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
    <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>控制台</span>
    </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">Login Screens:</h6>
      <a class="dropdown-item" href="login.html">Login</a>
      <a class="dropdown-item" href="register.html">Register</a>
      <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Other Pages:</h6>
      <a class="dropdown-item" href="404.html">404 Page</a>
      <a class="dropdown-item" href="blank.html">Blank Page</a>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#Chart">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#Table">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
    </li>
    </ul>

    <!-- content-wrapper -->
    <div id="content-wrapper">

        <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">控制台</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">26 New Messages!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">11 New Tasks!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">123 New Orders!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">13 New Tickets!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Area Chart Example-->
        <div id = "Chart" class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <!-- 单项统计 DataTable -->
        <div id="Table" class="card mb-3">
          <div class="card-header"><i class="fas fa-table"></i>单项统计</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover"
                     id="dataTable" width="100%" cellspacing="0"> <!--width="100%" cellspacing="0"-->
                <thead>
                  <tr>
                    <th>题型</th>
                    <th>题量</th>
                    <th>分值</th>
                    <th>额定时间</th>
                    <th>错误率</th>
                    <th>得分率(忽略超时)</th>
                    <th>得分率(额定耗时)</th>
                    <th>影响权重</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>题型</th>
                    <th>题量</th>
                    <th>分值</th>
                    <th>额定时间</th>
                    <th>错误率</th>
                    <th>得分率(忽略超时)</th>
                    <th>得分率(额定耗时)</th>
                    <th>影响权重</th>
                  </tr>
                </tfoot>
                <tbody>
                    {% for practice_statistic in list_practice_statistic %}
                        {% if practice_statistic.error_probability <= 0.10 %}
                            <tr class = "success">
                        {% elif practice_statistic.error_probability > 0.10 and practice_statistic.error_probability <= 0.20 %}
                            <tr>
                        {% elif practice_statistic.error_probability > 0.20 and  practice_statistic.error_probability <= 0.25 %}
                            <tr class = "info">
                        {% elif practice_statistic.error_probability > 0.25 and  practice_statistic.error_probability <= 0.30 %}
                            <tr class = "warning">
                        {% else %}
                            <tr class = "danger">
                        {% endif %}
                            <td>{{ practice_statistic.topic }}</td>
                            <td>{{ practice_statistic.topic.topic_num }}</td>
                            <td>{{ practice_statistic.topic.total_score }}</td>
                            <td>{{ practice_statistic.topic.rated_time_span }}</td>
                            <td>{{ practice_statistic.error_probability_str }}</td>
                            <td>{{ practice_statistic.probability_without_time_str }}</td>
                            <td>{{ practice_statistic.probability_str }}</td>
                            <td>{{ practice_statistic.weight }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if error_probability <= 0.10 %}
                        <tr class = "success">
                    {% elif error_probability > 0.10 and error_probability <= 0.20 %}
                        <tr>
                    {% elif error_probability > 0.20 and  error_probability <= 0.25 %}
                        <tr class = "info">
                    {% elif error_probability > 0.25 and  error_probability <= 0.30 %}
                        <tr class = "warning">
                    {% else %}
                        <tr class = "danger">
                    {% endif %}
                    <th>合计</th>
                    <th>115</th>
                    <th>150</th>
                    <th>120</th>
                    <th>{{ error_probability_str }}</th>
                    <th>{{ probability_without_time }}</th>
                    <th>{{ probability }}</th>
                    <th>--</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">实时统计</div>
        </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
              <span>Copyright © <a href="https://github.com/AeroYoung">AeroYoung</a> 2019</span>
          </div>
        </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">确认离开?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">点击下方的 "退出" 按钮你将退出当前登录的账号</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">退出</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="https://cdn.bootcss.com/Chart.js/2.8.0-rc.1/Chart.min.js"></script>
  <script src="https://cdn.bootcss.com/Chart.js/2.8.0-rc.1/Chart.min.js"></script>
  <script src="https://cdn.bootcss.com/datatables/1.10.0/jquery.dataTables.min.js"></script>
  <script src="https://cdn.bootcss.com/datatables/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.bootcss.com/datatables/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'civil/js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'civil/js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'civil/js/demo/chart-area-demo.js' %}"></script>

</body>

</html>
